:root {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    /**/
    --primary: #202020;
    --primary-text: #e0e0e0;
    /**/
    --primary-light: #353535;
    --primary-light-text: #f0f0f0;
    /**/
    --primary-dark: #101010;
    --primary-dark-text: #ffffff;
    /**/
    --secondary: #d3e057;
    --secondary-text: #000000;
    /**/
    --secondary-light: #ffff89;
    --secondary-light-text: #000000;
    /**/
    --secondary-dark: #9fae22;
    --secondary-dark-text: #000000;
    /**/
    --a-color: rgb(81, 168, 255);
    --a-shade-color: rgba(81, 168, 255, 0.2);
}

/* default */

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 2.5rem 0 1rem;
}

ul li, ol li {
    margin-top: 0.5rem;
}

img {
    max-width: 100%;
}

pre {
    font-family: 'Roboto Mono', monospace;
    border: 1px solid lightgrey;
    overflow: auto;
}

code {
    font-family: 'Roboto Mono', monospace;
    color: orangered;
    font-weight: 500;
    display: inline-block;
    background-color: rgba(255, 68, 0, 0.1);
    padding: 0 .2rem;
}

pre code {
    padding: 1rem;
}

blockquote {
    border-left: 5px solid lightgrey;
    font-size: 120%;
    font-style: italic;
    margin: 2rem 0;
    padding: 1rem;
}

table {
    border-collapse: collapse;
    margin: .5rem 0;
    text-align: left;
    width: 100%;
}

tbody>tr {
    border-top: 1px solid lightgrey;
}

th, td {
    padding: 0.5rem;
}

hr {
    background: lightgrey;
    border: 0;
    height: 1px;
    margin: 2rem 0;
}

/* main blocks */

html, body {
    --color: var(--primary-text);
    --background-color: var(--primary);
    color: var(--color);
    background-color: var(--background-color);
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    --color: var(--primary-dark-text);
    --background-color: var(--primary-dark);
    color: var(--color);
    background-color: var(--background-color);
    /**/
    --color: var(--primary-text);
    --background-color: var(--primary);
    color: var(--color);
    background-color: var(--background-color);
    /**/
    --a-color: var(--color);
    --a-shade-color: rgba(255, 255, 255, 0.1);
}

content {
    --color: var(--primary-text);
    --background-color: var(--primary);
    color: var(--color);
    background-color: var(--background-color);
}

footer {
    --color: var(--primary-dark-text);
    --background-color: var(--primary-dark);
    color: var(--color);
    background-color: var(--background-color);
    /**/
    --color: var(--primary-text);
    --background-color: var(--primary);
    color: var(--color);
    background-color: var(--background-color);
    /**/
    text-align: center;
    --a-color: var(--color);
    --a-shade-color: rgba(255, 255, 255, 0.1);
}

header, footer {
    padding: 1.5rem;
    flex-shrink: 0;
    flex-basis: auto;
}

@media (max-width: 700px) {
    header, footer {
        padding: .7rem;
    }
}

content {
    flex-grow: 1;
    display: flex;
    font-weight: 300;
}

content>.left {
    flex-shrink: 0;
    background-color: #00000022;
}

content>.main {
    max-width: 2000px;
    flex-grow: 1;
    padding: 1.5rem 6rem;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    content>.main {
        padding: 1.5rem 2rem;
    }
}

@media (max-width: 700px) {
    content>.main {
        padding: .7rem;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

p {
    margin: 0;
    padding: .3rem 0;
    max-width: 66ch;
}

b {
    font-weight: 700;
}

a {
    display: inline-block;
    color: var(--a-color);
    font-weight: 400;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

a:hover, a:focus {
    border-radius: .1rem;
    background-color: var(--a-shade-color);
    box-shadow: 0 0 0 .2rem var(--a-shade-color);
}

a:active {
    border-radius: .1rem;
    background-color: var(--a-shade-color);
    box-shadow: none;
}

/* header img */

header {
    overflow: hidden;
    display: inline-block;
    position: relative;
}

header>img {
    object-fit: cover;
    object-position: center;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(.5);
}

header>:not(img) {
    position: relative;
    z-index: 1;
}

/* nav */

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
}

nav ul {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    --nav-el-margin: .2rem;
    margin: calc(-1 * var(--nav-el-margin) / 2);
    font-weight: 300;
}

nav ul li {
    display: inline-block;
    margin: calc(var(--nav-el-margin) / 2);
}

.nav-link {
    flex-grow: 0;
}

.nav-link>a {
    display: inline-block;
    padding: .5rem;
}

@media (max-width: 400px) {
    .nav-link>a {
        padding: .5rem .2rem;
    }
}

.nav-link>a.active {
    font-weight: 500;
}

.nav-box {
    display: inline-block;
    padding: .5rem;
    opacity: .6;
}

.language-switch>img {
    max-height: 1.5rem;
    max-width: 1.5rem;
    border: 1px solid var(--a-color);
}

/* logo */

.nav-logo {
    flex-grow: 1;
    flex-basis: auto;
    text-decoration: none;
    align-items: center;
}

.nav-logo>a {
    display: inline-flex;
    align-items: center;
}

.logo {
    flex-shrink: 0;
    vertical-align: bottom;
    width: 3rem;
    height: 3rem;
    margin: .2rem;
    background-image: url('logo.svg');
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
}

.logo-next {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin: .2rem;
}

@media (max-width: 700px) {
    .logo-next {
        display: none;
    }
}

.logo-next .title {
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
}

.logo-next .subtitle {
    font-size: 1rem;
    margin-top: 0;
    font-weight: 300;
}

/* quote */

.quote-box {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    align-items: center;
    justify-content: center;
}

.quote-box>* {
    margin: .5rem;
}

.quote-box>.profile {
    max-height: 4rem;
    max-width: 4rem;
    border-radius: 4rem;
    border: 1px solid var(--color);
}

@media (max-width: 600px) {
    .quote-box>.profile {
        max-height: 3rem;
        max-width: 3rem;
    }
}

.quote-box .author {
    font-family: 'Roboto Mono', monospace;
    opacity: .6;
    font-size: 1rem;
}

.quote-box .quote {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    margin: 0;
    font-size: 1.5rem;
    border-radius: 0 1.2rem 1.2rem 1.2rem;
    padding: 1rem;
    border: 1px solid var(--color);
}

@media (max-width: 600px) {
    .quote-box .quote {
        font-size: 1.2rem;
    }
}

/* title-block */

.title-block {
    text-align: center;
}

.title-block h1 {
    margin: 2rem 0 3rem 0;
    padding: 1rem;
    display: inline-block;
}

.title-block .credit {
    text-align: right;
    font-size: .8rem;
    opacity: .7;
}

/* summary */

.summary {
    margin-top: 1rem;
    padding: .6rem;
    position: sticky;
    top: 0;
    --a-color: #ffffff88;
    --a-shade-color: #ffffff22;
}

.summary>ul {
    margin: 0;
    padding: .6rem;
    font-weight: lighter;
    font-size: 1rem;
}

.summary li {
    text-decoration: none;
    display: block;
    margin: 0;
    padding: .4rem;
}

.summary ul li ul {
    padding-left: 1rem;
    font-size: .9rem;
}

.summary a {
    font-weight: lighter;
}

@media (max-width: 800px) {
    .summary {
        display: none;
    }
}

/* sections */

section {
    margin: 6rem 2rem;
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 600px) {
    section {
        margin: 3rem .6rem;
    }
}

section:first-of-type {
    margin-top: 0;
}

.centered h2 {
    text-align: center;
}

section>h2 {
    font-size: 1.3rem;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    margin: 0;
    padding: 1rem 0 2rem 0;
    opacity: .6;
}

/* article-container */

.article-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, max-content));
    grid-gap: 1.5rem;
    grid-auto-flow: dense;
}

.centered .article-container {
    justify-content: center;
}

@media (max-width: 500px) {
    .article-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

.article {
    display: flex;
    flex-direction: column;
    text-align: left;
    line-height: 1.5;
}

.article.card {
    --color: var(--primary-light-text);
    --background-color: var(--primary-light);
    color: var(--color);
    background-color: var(--background-color);
    border-radius: .3rem;
    overflow: hidden;
    border: 1px solid var(--primary-dark);
    max-width: 66ch;
}

.article .title {
    font-weight: 400;
    padding: .5rem 0;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    background: transparent;
    border-bottom: 1px solid var(--color);
}

.article.card .title {
    --color: var(--primary-dark-text);
    --background-color: var(--primary-dark);
    color: var(--color);
    background-color: var(--background-color);
    padding: .5rem;
    border-bottom: none;
}

.article .title img {
    max-height: 2rem;
    align-self: center;
}

.article .title h2 {
    font-size: 1rem;
    line-height: 1.2rem;
    flex-grow: 1;
    padding: .5rem 0;
    font-size: 1.3rem;
    font-weight: normal;
}

.article.card .title h2 {
    padding: .5rem;
    font-size: 1.1rem;
}

.article.card .title .timestamp {
    font-size: .8rem;
    padding: .5rem;
}

.article .content {
    flex-grow: 1;
    padding: .5rem 0;
}

.article.card .content {
    flex-shrink: 1;
    padding: 2rem;
}

@media (max-width: 600px) {
    .article.card .content {
        padding: 1rem;
    }
}

.article.card .content .badges {
    margin-bottom: 1rem;
}

.article.card .content h3, .article.card .content h4, .article.card .content h5, .article.card .content h6 {
    margin: 1rem 0 .5rem 0;
}

.article.card .picture {
    width: 100%;
    display: flex;
}

.article .picture img {
    width: 100%;
    max-height: 10rem;
    object-fit: contain;
    object-position: center;
    border-bottom: 1px solid var(--primary-dark);
}

.article .footer {
    text-align: right;
    font-size: 1rem;
}

.article.card .footer {
    margin: -1rem 1.3rem 1rem 1.3rem;
}

/* badges */

.badges {
    display: flex;
    flex-wrap: wrap;
    margin: -.1rem;
}

.badge-keyword {
    --color: var(--secondary-text);
    --background-color: var(--secondary);
    color: var(--color);
    background-color: var(--background-color);
    padding: .1rem .5rem;
    font-size: .9rem;
    font-weight: 300;
    font-family: 'Roboto Mono', monospace;
    display: inline-block;
    margin: .1rem;
}

/* footer content */

footer {
    background-color: #00000030;
    --color: #FFFFFF80;
    color: var(--color);
}

footer>* {
    margin: .4rem 0;
}

footer .share {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: .8rem;
}

footer .share>* {
    padding: .3rem;
    margin: .3rem;
}

footer .version {
    font-size: .7rem;
    font-family: 'Roboto Mono', monospace;
    display: inline-block;
    border: 1px solid var(--color);
    border-radius: .2rem;
    padding: .1rem;
}

/* anchorable */

.anchor {
    color: var(--color);
    opacity: .6;
    display: none;
    font-size: .8rem;
    width: .8rem;
    line-height: 0;
    margin: .2rem;
}

.anchorable:hover .anchor {
    display: inline;
}

/* other */

.call-to-action {
    text-align: center;
}

a.button {
    --a-shade-color: rgba(160, 174, 34, 0.5);
    user-select: none;
    border: 1px solid var(--secondary);
    border-bottom-width: 4px;
    color: var(--secondary);
    border-radius: 8px;
    padding: .8rem;
}

a.button:not(:disabled) {
    cursor: pointer;
}

a.button:hover {
    text-decoration: none;
    background: var(--secondary-dark);
    color: var(--secondary-dark-text);
    box-shadow: none;
}

a.button:active {
    position: relative;
    top: 3px;
    border-bottom-width: 1px;
}