{{define "tr-index-welcome-content"}}
<p>
    Bonjour, je suis Vivien Galuchot, ingénieur logiciel indépendant.
    Bienvenue sur mon site personnel.
</p>
<div class="p-spacer"></div>
<p>
    Je suis spécialisé dans les systèmes critiques embarqués. Je m'intéresse aussi au domaine les domaines des applications web et mobile. Ce site présente <a href="/portfolio">quelque travaux personnels</a> à ce sujet.
</p>
<div class="p-spacer"></div>
<p>
    Pour toute demande, écrivez à <code id="mail">contact@vgaluchot.dev</code> <button class="btn-copy transparent" data-target="#mail"><i class="far fa-copy"></i> copier</button>
</p>
{{end}}