{{define "content"}}
<div class="main">
    <section class="centered">
        <div class="article-container">
            <div class="article">
                <div class="quote-box">
                    <i class="profile fas fa-user-circle"></i>
                    <div class="text">
                        <!-- <div class="author"><i class="far fa-user-circle"></i></div> -->
                        <h1 class="quote">"Hello world !"</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="centered">
        <div class="article-container">
            <div class="article">
                <div class="content">
                    {{block "tr-index-welcome-content" .}}
                    <p>
                        Hello, I'm Vivien Galuchot, an independent software engineer.
                        Welcome to my website.
                    </p>
                    <p>
                        I'm specialized in critical embedded systems. I'm also interested in web and mobile applications. 
                        This website displays <a href="/portfolio">some of my work</a> on this topic.
                    </p>
                    <hr>
                    <p>
                        For any request, reach me at <code id="mail">contact@vgaluchot.dev</code> <button class="btn-copy transparent" data-target="#mail"><i class="far fa-copy"></i> Copy</button>
                    </p>
                    {{end}}
                </div>
            </div>
        </div>
    </section>
</div>
{{end}}